@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    background-color: #0d1117;

}

.container{
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    width: 100%;
}

.content{
    padding:15px 10px;
    width:300px;
}

.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.head p{
    text-align: center;
}

#git-logo{
    font-size: 2.2em;
    color:white;
    text-align: center;
}

.first{
    border:1px solid  rgba(211, 35, 35,.3);
    padding: 0px 20px;
    height: 55px;
    background-color: rgba(211, 35, 35,.1);
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.content-first .first p{
    align-self: center;
    background-color: rgba(211, 35, 35,.1);
    border:none;
    font-size: .7em;

}

.first i{
    align-self: center;
    border:none;
    color:red;
    background-color: rgba(211, 35, 35,.1);
}

.second {
    border:1px solid rgba(126, 120, 120,.4);
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    column-gap: 20px;
}

.second img{
    width:30px;
    height: 30px;
    border-radius: 50%;
    align-self: center;
}
.second p{
    font-size: .7em;
}

.pass-part{
    margin-top: 10px;
    border:1px solid rgba(126, 120, 120,.9);
    border-radius: 10px;
    padding: 10px 20px;
}

.pass-part input{
    border:1px solid rgba(126, 120, 120,.9);
    margin-top: 10px;
    color:white;
    border-radius: 8px;
    height: 40px;
}

.p-one{
    display:flex ;
    flex-direction: column;
}

.pass-part a{
    display: flex;
    justify-content:end;
    font-size: .7em;
    margin-top: 5px;
    color: rgb(37, 110, 170);
    text-decoration: none;

}

.pass-part button{
    margin-top: 10px;
    padding: 10px 15px;
    background-color: rgb(58, 146, 58);
    border:none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: .6em;
    width: 100%;
    cursor: pointer;
    transition: .15s opacity;
}

.pass-part button:hover{
    opacity: .9;
}

.p-one label{
    display: block;
    font-size: .9em;
}

.last-para{
    padding: 10px;
    margin-top: 10px;
    color:rgb(118, 121, 128);
    text-align: center;
    font-size: .6em;
}

.last-para a{
    color: rgb(37, 110, 170);
}

footer{
    font-family: "Poppins", sans-serif;
}

footer ul{
    display: flex;
    column-gap: 20px;
    justify-content: center;
}

footer li{
    list-style: none;
}

footer a{
    font-size: .6em;
    text-decoration: none;
    color:rgb(118, 121, 128);
}

@media (max-width: 320px) {
    footer ul {
        flex-direction: column;
        align-items: center;
    }

    footer ul li {
        margin: 10px 15px 0 0;  
       }

    footer ul li a {
        font-size: 12px; 
    }
}